* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

html {
  background: rgb(240, 240, 240);
}
article img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  object-fit: cover;
}

main {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

#opskrift {
  display: block;
}

#opskrift article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#opskrift ol,
ul {
  display: flex;
  margin: 20px;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  list-style-position: inside;
  gap: 20px;
}

article {
  /*background-color: #ccc;*/
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
  display: flex;
  justify-content: center;
}

#menu img {
  width: 13%;
  border-radius: none;
}

#menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: flex-end;
  padding: 1.2%;
  margin: 20px;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  list-style-position: inside;
}

a {
  color: #6c9c2d;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 3.5rem;
}

a:visited {
  color: #6c9c2d;
}

a:hover {
  text-decoration: underline;
}

#splash {
  width: 1200px;
  background-image: url(img/splashbillede.jpg);
  height: 550px;
  background-size: 100% 100%;
}

p {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}

h1 {
  color: #6c9c2d;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  padding: 20px;
}
h2 {
  color: #6c9c2d;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  padding: 20px;
}

section {
  display: grid;
  gap: 30px;
  margin-top: 10%;
}

@media (min-width: 768px) {
  #opskrift img {
    aspect-ratio: 16/5;
  }
  #opskrift section {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

button {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: #6c9c2d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem;
  border: none;
}

button:hover {
  background-color: #6c9c2d;
  color: white;
  cursor: pointer;
}

.valgt {
  background-color: #6c9c2d;
  color: white;
}
